<button class="button"><a href="{% url 'profileinfoPage' %}">Profile Information</a></button> <!-- green -->

{% if user.user_type == 'recruiter' %}
<button class="button button2"><a href="{% url 'recruiterinfo' %}">Recruiter Information</a></button> <!-- blue -->
<button class="button"><a href="{% url 'postedjob' %}">Posted Job</a></button>
{% elif user.user_type == 'jobseeker' %}

<button class="button button3"><a href="{% url 'seekerinfo' %}">Seeker Information</a></button><!-- red -->
<button class="button button2"><a href="{% url 'appliedjob' %}">Applied Job</a></button> <!-- blue -->
{% endif %}


<button class="button button4"><a href="">Password Change</a></button>

